# Flutter / Dart
.dart_tool/
.idea/
.vscode/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# Rust
rust/aegis_core/target/
Cargo.lock
*.dll
*.so
*.dylib

# Android
android/.gradle/
android/app/build/
android/local.properties

# iOS
ios/Pods/
ios/Runner.xcworkspace/
.DS_Store
